@model IEnumerable<BusinessLogic.Models.ChatMessageModel>
@{
	ViewData["Title"] = "Chat";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/Content/Chat.css">
</head>

<body>
	<div id="UserList">
		<form id="returnmenu">
			<button>Return</button>
		</form>
		<ul id="listofrooms">
			<li>jan</li>
			<li>klaas</li>
		</ul>
	</div>

	<div id="Chat">
		<form id="userinfo">
			<button>filling</button>
		</form>
		<ul id="ul1"></ul>
		<div id="scrollBar">
			@foreach (var item in Model)
			{
			
					<div>
						<p>
							@Html.DisplayFor(modelItem => item.Text)
						</p>
						<p>
							@Html.DisplayFor(modelItem => item.Date)
						</p>
					</div>
				
			}
		</div>
		<form id="form">
				@Html.TextBox("message")
				<input id="said" type="submit" name="Submit" />
		</form>
	</div>
</body>

<script>
	var objDiv = document.getElementById("scrollBar");
	objDiv.scrollTop = objDiv.scrollHeight;
</script>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gun/lib/cryptomodules.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
    $('#said').on('submit', function () {
        var timestamp = GetTimeStamp();
        var message = document.getElementById("say").value;

        var messageObject = {
            title: message,
            timestamp: timestamp
		}
        console.log(message);
        if (message) {
            gun.get('user').get('chat').get('message').set(messageObject);
        }
	});
    function GetTimeStamp() {
        var d = new Date();
        return d.getTime();
    }
</script>