
@{
	ViewData["Title"] = "CreateChat";
}
@using BusinessLogic.ExtensionMethods;

<input type="button" id="button" value="generate" />
<br />
<span id="password"></span>
<br />
@Html.ActionLink("Submit", "Chat", "Chat", new { }, new { @class = "btn btn-info" })
<br />
@Html.ActionLink("Refresh", "CreateChat", "Chat", new { }, new { @class = "btn btn-info" })

@{
	string Hash()
	{
		var randomString = SecurePasswordHasher.RandomString(10);
		var hash = SecurePasswordHasher.Hash(randomString);
		return hash;
	}
}

@section Scripts
{
	<script type="text/javascript">
         document.addEventListener("DOMContentLoaded", function () {
            var button = document.getElementById('button');
            button.addEventListener('click', function () {
				var hashValue = "@Hash()";
				document.getElementById("password").innerHTML = hashValue
             });
        });
	</script>
}
