
@{
	ViewData["Title"] = "Register";
}


<body>
	<h1>Register</h1>
	<div>
		<br>
		<label for="UserName"><b>Username:</b></label>
		<br>
		<input type="text" placeholder="Enter Username" name="UserName" required>
		<br><br>

		<label for="Email"><b>Email adress:</b></label>
		<br>
		<input type="email" placeholder="email@example.com" name="Email" required>
		<br><br>

		<label for="BirthDate"><b>Date of Birth:</b></label>
		<br>
		<input type="date" placeholder="dd/mm/yy" name="BirthDate" required>
		<br><br>

		<label for="Password"><b>Password:</b></label>
		<br>
		<input type="password" placeholder="Enter Password" name="Password" required>
		<br><br>

		<button type="submit">Register</button>
	</div>
</body>