<!DOCTYPE html>
<html>
<body>

	<div align="center">
		<input type="button" id="btnSend" value="Send" />
	</div>

	<script src="~/Scripts/jquery-3.4.1.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gun/lib/cryptomodules.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	<script type="text/javascript">
		var gun = Gun("https://diabetesappfontysgroep3.herokuapp.com/gun");
		var gunItems = gun.get('Test');

		var kaas = "";

		gun.get('Test').on(function (item, id) {
			kaas = item[Object.keys(item)[Object.keys(item).length - 1]]
		})

		console.log(kaas);

		let prod = new Array();
		var product = { Name: kaas }
		prod.push(product);

		$(document).ready(function () {
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(product),
				url: "/Home/GetData",

				success: function (result) {
					window.location.href = result.redirectTo;
				}
			})
		})
	</script>
</body>
</html>