
@{
	ViewData["Title"] = "Chat";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Chat.css">
</head>

<body>
	<div class="UserList">
		<a href="#" class="active">Home</a>
		<a href="#">Jan</a>
		<a href="#">Klaas</a>
	</div>
</body>

