@model IEnumerable<BusinessLogic.Models.ChatMessageModel>

@{
	ViewData["Title"] = "Chat";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Chat.css">
</head>

<body>
	<div id="UserList">
		<form id="returnmenu">
			<button>Return</button>
		</form>
		<ul id="listofrooms">
			<li>jan</li>
			<li>klaas</li>
		</ul>
	</div>

	<div id="Chat">
		<form id="userinfo">
			<button>filling</button>
		</form>
		<ul id="ul1"></ul>
		<div id="scrollBar">
			@foreach (var item in Model)
			{
				<br />
				<div>
					<p>
						@Html.DisplayFor(modelItem => item.Text)
					</p>
					<p>
						@Html.DisplayFor(modelItem => item.Date)
					</p>
				</div>
			}
		</div>
		<form id="form">
			@using (Html.BeginForm("ChatSend", "Chat", FormMethod.Post))
			{
				@Html.TextBox("message")
				<input type="submit" name="Submit" />
			}
		</form>
	</div>

</body>

<script>
	var objDiv = document.getElementById("scrollBar");
	objDiv.scrollTop = objDiv.scrollHeight;
</script>