
@{
	ViewData["Title"] = "Chat";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/Chat.css">
</head>
<body>
	<div id="UserList">
		<form id="returnmenu">
			<button>Return</button>
		</form>
		<ul id="listofrooms">
			<li>Room1</li>
			<li>Room2</li>
			<li>Room3</li>
			<li>Room4</li>
		</ul>
	</div>
	<div id="Chat">
		<form id="userinfo">
			<button>filling</button>
		</form>
		<ul id="ul1"></ul>
		<form id="form">
			<input size="50" id="input1">
			<button id="buttoninput">Add</button>
			<button id="buttoninput">Share</button>
		</form>
	</div>
</body>

