
@{
    ViewBag.Title = "GetIntakes";
}

<div align="center">
    <h1>Loading Intakes</h1>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gun/lib/cryptomodules.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script type="text/javascript">

    var gun = new Gun('https://diabetesappfontysgroep3.herokuapp.com/gun')

    function getIntakes() {
        var DATA = [];

        gun.get('user').get('date').get('intake').map().on(function (item, id) {

            var manualObject = {
                dateOfIntake: item.dateOfIntake,
                intakeDayId: item.intakeDayId,
                weight: item.weight,
                CHORatio: item.CHORatio,
                bloodSugar: item.bloodSugar,
                InsulinUnits: item.InsulinUnits,
            }

            DATA.push(manualObject);
        })
        return DATA;
    }

    var intakes = getIntakes();

    console.log(intakes);

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(getIntakes()),
            url: "/Gun/GetUserIntakes",

            success: function (result) {
                console.log(result);
                window.location.href = result.redirectTo;
            }
        })
    })
</script>

