body {
	
}

#UserList {
	width: 35%;
	float: left;
	border: solid 4px black;
	height: 40rem;
	background-color: aliceblue;
}

#Chat {
	width: 63%;
	float: right;
	height: 40rem;
	border: solid 4px black;
	background-color: aliceblue;
	position: relative;
}

#form {
	position: absolute;
	bottom: 0;
	width: 43.4rem;
	margin-bottom: .5rem;
	border-top: solid 4px black;
}

#ul1 {
	float: right;
	font-weight: bold;
	text-align: right;
	direction: rtl;
}

#ul1 li {
	border: solid 1px black;
	margin: 7px;
	padding: 5px;
	list-style-image: url(list-style-icon.png);
	width: 40vh;
	text-align: left;
}

#ChatInput {
	width: 100%;
	font-size: 20px;
}


#listofrooms li {
	border: solid 2px black;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
}

#listofrooms {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#returnmenu, #userinfo {
	border: solid 2px black;
	padding: 10px;
	margin: 5px;
}

button {
	cursor: pointer;
}

#buttoninput {
	margin-top: .2rem;
	width: 20rem;	
}
