
@{
    ViewData["Title"] = "ChatPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">
</head>
<header class="LoginHeader">
    <h2>Login here!</h2>
</header>
<body class="LoginBody">
    <input type="text" id="username" />
    <input type="text" id="password" />
    <button type="button">Login</button>
</body>

